<h1>Members</h1>
<ol>
<% @names.each do |name| %>
  <li>
    <a href="http://localhost:4567/members/<%=name%>"><%= name %></a>
    <a href="http://localhost:4567/members/<%=name%>/edit">Edit</a>
  </li>
<% end %>
</ol>
<a href="http://localhost:4567/members/new/member">New Member</a>